<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="myapp3">
        <input type="text" placeholder="First Name..." v-model="firstName">
        <input type="text" placeholder="Last Name..." v-model="lastName">
        <h5>Full Name : - {{fullName}} </h5>
    </div> <br><br>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script2.js"></script>
</body>
</html>